.inputwindow-component {
  border: 1px solid #343434;
  background-color: #c6c6c6;
  padding: 15px 12px 5px 12px;
  text-align: right;
  line-height: 42px;
  color: #222222;
  font-size: 26px;
  font-family: monospace;
}
